body{
    
    background-color: rgb(122, 161, 245)
}

.form{
    margin-top: 100px;
    width: 30%;
    height: 250px;
    background-color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    margin-left: 475px;   
    box-shadow: 0 0 0 7px rgba(101, 122, 226, 0.596) ; 
}
.title{
    margin: 0;
    padding: 13px 13px;
    background-color: seashell;
    text-align: center;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: rgb(121, 120, 120);
    border-radius: 5px;
}
.hr{
    margin: 0;
    height: 1px;
    background-color: rgb(180, 194, 238);
    border: none;
}
.content{
    text-align: center;
}
.email>input, .password>input{
    width: 90%;
    height: 25px;
    margin-top: 15px;
    border: 1px solid  rgb(180, 194, 238);
    padding-left: 20px;
    box-shadow: 0 0 0 4px rgba(180, 193, 238, 0.479);
}
.bottom{
    margin-top: 25px;
}
.bottom>input{
    margin-left: 18.5px;
}
.bottom>label{
    color: rgb(121, 120, 120);
}
.bottom>button{
    margin-left: 50px;
    border-radius: 20px;
    height: 35px;
    width: 20%;
    border: 1px solid rgb(180, 194, 238);
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(121, 120, 120);
}
.text{
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text a{
    text-decoration: none;
    color: rgb(204, 198, 198);
}
.success{
    background-color: rgba(10, 172, 10, 0.692);
    color: white;
    text-align: center;
}